@page
@model ODOO.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}

<h2>FAQ</h2>
<div class="jumbotron">
    <h4>Que puedo hacer con esta aplicación?</h4>
    <h7>La aplicacion te permite crear, editar,eliminar y ver detalles de Eventos que hayas organizado de manera rapida y sencilla</h7>
    <br /><br />
    <h4>Hay planes de ampliar la funcionalidad de la aplicación? Me gustaria poder exportar mis datos.</h4>
    <h7>En el futuro planeamos incorporar la opcion de importar y exportar los datos de los eventos, de esta forma podras transferir los dato de tus eventos de un equipo a otro rapidamente.</h7>
    <br /><br />
    <h4>Existe la posibilidad de personalizar la información y apaiencia de la lista de Eventos?</h4>
    <h7>Por el momento no.Nuestra prioridad es mejorar el funcionamiento y expandir la funcionalidad de la aplicación. Esto no quiere decir que en un futuro no se valla a poder personalizar la aplicación.</h7>
</div>


